@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Lato', Helvetica, Arial, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    height: -webkit-fill-available;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, rgba(254, 255, 227, 1) 0%, rgba(226, 226, 255, 1) 100%);
}

form {
    width: 40%;
    max-width: 500px;
    height: auto;
    padding: 20px;
    background-color: #fefefe;
    border-radius: 5px;
}

.campos {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

h1 {
    font-size: 2em;
    text-align: center;
    padding: 15px 0px 40px 0px;
}

label {
    font-size: 1.2em;
    padding: 5px 0;
}

input {
    font-size: 1.2em;
    padding: 5px;
    border: none;
    border-bottom: 1px solid;
    outline: none;
}

button {
    cursor: pointer;
}

button:active {
    opacity: 0.8;
}

.campo_botoes {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.botao {
    width: 100%;
    height: auto;
    margin: 5px;
    padding: 10px;
    font-size: 1em;
    border: none;
    border: 2px solid transparent;
}

.entrar {
    background-color: #cacafc;
    color: black;
    font-size: 1em;
}

.registrar {
    background-color: #faecd2;
    color: black;
    font-size: 1em;
}

.botao:hover {
    border: 2px solid black;
}

.esqueceu {
    display: flex;
    justify-content: flex-end;
}

.esqueceu_botao {
    background: transparent;
    color: #3c70b6;
    border: none;
    padding: 5px;
    font-size: 1em;
}

.esqueceu_botao:hover{
    text-decoration: underline;
}

/* Media Queries */
@media only screen and (max-width: 350px) {
    form {
        width: 90%;
    }
}

@media only screen and (max-width: 600px) {
    form {
        width: 90%;
    }
}
