@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: Helvetica, Arial, sans-serif;

    /* border: 1px solid red; */
}

html {
    scroll-behavior: smooth;
    transition: 0.5s;

    height: -webkit-fill-available;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background: rgb(254,255,227);
    background: linear-gradient(135deg, rgba(254,255,227,1) 0%, rgba(226,226,255,1) 100%);
}

/* ------------------- */

form {
    width: 40%;
    height: auto;

    padding: 20px;

    background-color: #fefefe;

    border-radius: 5px;
}

.campos {
    display: flex;
    flex-direction: column;

    padding: 10px;
}

/* ------------------- */

h1{
    font-size: 2em;
    text-align: center;
    padding: 15px 0px 40px 0px;
}

label {
    font-size: 1.2em;

    padding: 5px 5px;
}

input {
    font-size: 1.2em;

    padding: 5px 5px;

    border: none;
    border-bottom: 1px solid;
}

input:focus {
    outline: none;
}

/* ------------------- */

button {
    cursor: pointer;
}

button:active {
    opacity: 0.8;
}

.campo_botoes {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.botao {
    width: -webkit-fill-available;
    height: auto;

    margin: 5px;
    padding: 10px;

    font-size: 1em;

    border: none;

    border: 2px solid transparent;
}

.entrar {
    background-color: #cacafc;
    color: black;
}

.registrar {
    background-color: #faecd2;
    color: black;
}

.botao:hover {
    border: 2px solid black;
}

.esqueceu {
    display: flex;
    justify-content: end;
}

.esqueceu_botao {
    background: transparent;
    color: #3c70b6;
    border: none;

    padding: 5px;
    font-size: 1em;
}

/* ------------------- */

/* (350px para baixo) */
@media only screen and (max-width: 350px)
{ 
    form {
        width: 90%;
    }
}

/* (600px para baixo) */
@media only screen and (max-width: 600px)
{
    form {
        width: 90%;
    }
}

